*{
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
}

.box{
    width: 80vw;
    height: 80vh;
    padding: 10px;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    background: rgba(200,200,200, 0.5);
}

.box h1{
    font-size: 2rem;
    color: #1c5982;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 0 0;
    margin-left: 50px;
}


p{
    font-size: 1.5rem;
    color: #1c5982;
    margin: 0 0 70px 50px;
}


div h2{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #3498db;
}

select{
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
    color: #1c5982;
    font-size: 1.3rem;
    background: none;
    border: none;
}


.back-img{ 
    height: 100vh;
    width: 100vw;
    filter: blur(6px);
    opacity: .9;
    z-index: -1000;
}

label{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #1c5982;
    margin: 1.5rem 5rem;
}

.notas{
    font-size: 1.3rem;
}

input{
    font-size: 1.3rem;
    width: 250px;
    height: 1.5rem;
    margin: 10px 10px 10px 20px;
    background: none;
    border: 3px solid #3498db;
    outline: none;
    color: #1c5982;
    padding-left: 10px;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
}
    
.description{
        font-size: 13px;
        position: absolute;
        margin: 20px auto;
        bottom: 0;
        color: #0d2b3f;
}


button{
    background: none;
    font-size: 1rem;
    font-weight: 600; 
    display: block;
    justify-content: center;
    border: 2px solid #2ecc71;
    padding: 14px  40px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    background-color: #2ecc71;
}

#guardar{
    position: absolute;
    bottom: 80px;
    right: 400px;
}

.inputFocus{
    height: 2.5rem;
    margin: 10px 10px 10px 20px;
    background: none;
    border: none;
    outline: none;
    color: #000;
    padding-left: 10px;
}

#blockButton, #blockButton1{
    display: block;
    font-size: 1rem;
    padding: 2px 5px;
    color: #cc312e;
    border: 2px solid #cc312e;
    margin-top: 10px;
    margin-left: 10px;
}

#blockButton:hover, #blockButton1:hover{
    background-color: #cc312e;
}

#formMateria{
    display: none;
    flex-direction: column;
}

.inputNotas{
    width: 50px;
    font-size: 1.3rem;
    color: #000;
}

.buttonContainer{
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    display: flex;
    justify-content: flex-end;
}

#spanPromedio{
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    right: 5rem;
    color: #1c5982;
}

.notas1{
    display: flex !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }



/* media queries */

    @media (max-width:760px){


        .box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .buttonContainer button, #guardar{
            font-size: .8rem;
            padding: 1rem;
        }

        label{
            margin: 0;
        }

        #formMateria input{
            width: 20px;
        }

    
    }
    
    @media (max-width:480px){

        .box h1{
            font-size: 1.5rem;
        }

        .box p{
            font-size: .9rem;
        }

        .box h2{
            font-size: 1rem;
        }

        label{
            font-size: 1rem;
        }

        input{
            width: 40%;
        }

        #form1{
            margin: 1rem 3rem;
        }

        #formMateria {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .notas{
            font-size: 1rem;
        }

        .buttonContainer button, #guardar{
            font-size: .5rem;
        }
        #guardar{
            right: 250px;
        }

        #spanPromedio{
            font-size: 1rem;
        }

    }
    
    @media (max-width:380px){

    } 