body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

.box{
    width: 1000px;
    height: 500px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(200,200,200, 0.5);
    text-align: center;
}

.box h1{
    color: #1c5982;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 0 0;
}

p{
    font-size: 14px;
    color: #1c5982;
    margin: 0 0 70px;
}

.back-img{
    height: 100vh;
    width: 100vw;
    filter: blur(6px);
    opacity: .7;
    z-index: -1000;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
}
    
.description{
        font-size: 13px;
        position: absolute;
        margin: 20px auto;
        bottom: 0;
        color: #0d2b3f;
}

#listado{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.keys{
    margin: 10px;
    font-size: 1.1rem;
}

.nombre{
    font-size: 1.4rem;
}

button{
        position: absolute;
        top: 50%;
        left: 46%;
        background: none;
        font-size: 1rem;
        font-weight: 600; 
        display: flex;
        border: 2px solid #2ecc71;
        padding: 14px  40px;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        margin: 120px auto;
}
    
button:hover{
        background-color: #2ecc71;
}

#lista{
    color: #1c5982;
    display: flex;
    justify-content: center;
}