*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    z-index: -1;
}

img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.container-form{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: all .5s ease-out;
}

.welcome-back{
    display: flex;
    align-items: center;
    text-align: center;
}

.message{
    padding: 1rem;
}

.message h2{
    font-size: 2.3rem;
    padding: 1rem 0;
}

p{
    font-size: 1.2rem;
}

.message button{
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover{
    background-color: #6464f8;
}

.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 0.6);
    text-align: center;
    color: #fff;
}

.create-account{
    padding: 2.7rem 0;
    font-size: 2rem;
}


.cuenta-gratis{
    padding: 2rem 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.formulario input{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom:  #2ecc71 thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #fff;
}

a{
    text-decoration: none;
    color: #2ecc71;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid 2px #2ecc71;
    padding: .8rem;
    border-radius: 2rem;
    background-color: none;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

.formulario input[type="button"]:hover{
    background-color: #2ecc71;
} 

.sign-in{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active{
    opacity: 1;
    visibility: visible;
}

.sign-up.active{
    opacity: 0;
    visibility: hidden;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.descrip {
    width: 70%;
    display: block;
    position: absolute;
    text-align: center;
    bottom: 10px;
}

#linkLogin{
    width: 60%;
    text-decoration: none;
    justify-content: center;
    margin: 1.5rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    border: solid 2px #2ecc71;
    border-radius: 2rem;
    color: #fff;
}

.showContent{
    display: flex;
}

.hideContent{
    display: none;
}